

.App {
  text-align: center;
  background-color: #37474F
  
}
body {
  background-color: #90A4AE
}
.Header-container {
  background-color: #90A4AE;
}


hr {
  margin-top: 20px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
h1.Name {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 40px;
}

td {
  padding: 0 10px 0 10px;
  justify-content: center;
  flex-direction: row;
}

a {
  text-decoration:none
}

table {
  display: flexbox;
  justify-content: center;
  justify-items: center;
}


Button.linkedin{
  background: #0077B5;
  border: 0;
  color: white;
  height:30px;
  padding: 0 20px;
}
Button.github{
  background: black;
  border: 0;
  color: white;
  height:30px;
  padding: 0 20px;
}
Button.resume{
  background: #757575;
  border: 0;
  color: white;
  height:30px;
  padding: 0 20px;
}





